<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCEncapsulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41C9C1E51CEABE4A00F11AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C9C1FE1CEABE4A00F11AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C9C2091CEABE4B00F11AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
